*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* <!-- HERO SECTION --> */
.hero-section{
  background: #5a5a8b;
  padding: 50px;
  color: white;
}

.hero-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px;
}

.column-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.column-left span{
  font-size: 25px;
  font-weight: bold;
}
.column-left h1{
  font-size: 90px;
}

.column-left p{
  font-size: 20px;
  line-height: 30px;
}

.column-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-img{
  width: 100%;
  height: 50%;
}


@media screen and (max-width: 960px){
  .hero-section{
padding: 20px;
  }

  .hero-wrapper{
    grid-template-columns: 1fr;
  }


  .column-left h1{
    font-size: 70px;
  }

  .column-left p{
    font-size: 25px;
    line-height: 30px;
  }

  .column-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-img{
    width: 72%;
        height: 77%;
  }


}

@media screen and (max-width: 460px){
  .column-left h1{
    font-size: 25px;
  }
  .column-left span {
    font-size: 21px;
    font-weight: bold;
  }
  .column-left p{
    font-size: 17px;
  }

  .hero-wrapper{
    grid-template-rows: 400px;
  }
}

/* <!-- HERO SECTION --> */


/* <!-- ABOUT SECTION --> */
.about-section{
  padding: 50px;
  color: white;
  background: #5a5a8b;
}

.about-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-wrapper h1{
  font-size: 100px;
  margin-bottom: 30px;
  text-align: center;
}
.about-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.about-text{
  padding-right: 20px;
}

.about-text h2{
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.about-text p{
  line-height: 2.3;
  font-size: 2rem;
}

.about-img{
display: flex;
justify-content: center;
align-items: center;
}

.about-img img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 960px){
  .about-wrapper h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.about-text p {
    line-height: 1.3;
    font-size: 2rem;
  }
}

@media screen and (max-width: 960px){
  .about-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .about-wrapper h1{
    font-size: 50px;
    text-align: left;
  }
  .about-img{
    margin-top: 40px;
  }
}

@media screen and (max-width: 460px){
  .about-wrapper h1{
    font-size: 30px;
    text-align: left;
  }
  .about-text h2{
    font-size: 28px;
  }

  .about-text p{
    font-size: 24px;
  }
}
/* <!-- ABOUT SECTION --> */
